---
import Layout from '../layouts/Layout.astro';
---

<Layout
	isHome
	title="Data, sports, and code"
	keywords="data generalist, data, deep learning, machine learning, data science, barcelona, jordi, villar, jordi villar, algorithms, artificial intelligence, ai, sports, tech, analytics"
>
	<main class="text-xl sm:text-2xl md:text-3xl lg:text-4xl md:font-light text-gray-700">
		<p class="mt-10">
			Data generalist with a strong engineering background. Based in Barcelona.
		</p>
		<p class="mt-6 sm:mt-8 md:mt-10">
			Enthusiastic about all things related to data, open source, distributed systems, and software engineering.
		</p>
		<p class="mt-6 sm:mt-8 md:mt-10">
			Find me on <a class="border-b border-gray-900 pb-px text-gray-900" href="https://github.com/jrdi">Github</a>, <a class="border-b border-gray-900 pb-px text-gray-900" href="https://twitter.com/jrdi">Twitter</a>, or <a class="border-b border-gray-900 pb-px text-gray-900" href="https://linkedin.com/in/jordivillar">LinkedIn</a>. Or send me an <a class="border-b border-gray-900 pb-px text-gray-900" href="mailto:jrdi.villar@gmail.com">email</a>.
		</p>
	</main>
</Layout>