---
export interface Props {
	isHome?: boolean;
}

const { isHome } = Astro.props;
---

<header>
	<div class={isHome ? 'mt-20 mb-20 lg:mt-40' : 'mt-10 lg:mt-20'}>
		<h2>
			<a href="/">{isHome ? "Jordi Villar" : "▴"}</a>
		</h2>
	</div>
</header>
